<h1>{{user.name.firstName}}'s Profile</h1>
<p>Are you sure you want to delete your profile?</p>
<form action='/profile/{{user._id}}/delete' method='POST'>
  <button class='btn-pink'>Delete Profile</button>
</form>
<form action='/profile/{{user._id}}'><button>Cancel</button></form>