<footer>
  <h2>Contact Us</h2>
  <div class='contacts-us'>
    <div class='socials'>
      <ul>
        <li><img
            class='footer-icon'
            src='https://res.cloudinary.com/dnsqwd8bw/image/upload/v1633169452/instagram_ewd3g7.svg'
            alt='instagram icon'
          /></li>
        <li><img
            class='footer-icon'
            src='https://res.cloudinary.com/dnsqwd8bw/image/upload/v1633169452/facebook_uqf3m5.svg'
            alt='facebook icon'
          /></li>
        <li><img
            class='footer-icon'
            src='https://res.cloudinary.com/dnsqwd8bw/image/upload/v1633169452/twitter_jn9cut.svg'
            alt='twitter icon'
          /></li>
      </ul>
    </div>
    <div class='contacts'>
      <ul>
        <li><a href='mailto: contactus@yummy.com'>Email Us</a></li>
        <li>902-123-4564</li>
      </ul>
    </div>
  </div>
  <p class='copyright'>© 2021 Yummy in my Tummy</p>

</footer>