<footer>
  <div class='footer-section'>
    <div class='information'>
      <ul>
        <li><a href=''>About Yummy</a></li>
        <li><a href=''>Announcements</a></li>
        <li><a href=''>Contacts</a></li>
        <li><a href=''>Mobile Application <small>(soon)</small></a></li>
        <li>
          <a href=''><img
              class='footer-icon'
              src='https://res.cloudinary.com/dnsqwd8bw/image/upload/v1633169452/instagram_ewd3g7.svg'
              alt='instagram icon'
            /></a>
          <a href=''><img
              class='footer-icon'
              src='https://res.cloudinary.com/dnsqwd8bw/image/upload/v1633169452/facebook_uqf3m5.svg'
              alt='facebook icon'
            /></a>
          <a href=''><img
              class='footer-icon'
              src='https://res.cloudinary.com/dnsqwd8bw/image/upload/v1633169452/twitter_jn9cut.svg'
              alt='twitter icon'
            /></a>
        </li>

        {{! <li><img
            class='footer-icon'
            src='https://res.cloudinary.com/dnsqwd8bw/image/upload/v1633169452/instagram_ewd3g7.svg'
            alt='instagram icon'
          /></li>
        <li><img
            class='footer-icon'
            src='https://res.cloudinary.com/dnsqwd8bw/image/upload/v1633169452/facebook_uqf3m5.svg'
            alt='facebook icon'
          /></li>
        <li><img
            class='footer-icon'
            src='https://res.cloudinary.com/dnsqwd8bw/image/upload/v1633169452/twitter_jn9cut.svg'
            alt='twitter icon'
          /></li> }}
      </ul>
    </div>
    {{! <div class='contacts'>
      <ul>
        <li><a href='mailto: contactus@yummy.com'>Email Us</a></li>
        <li>902-123-4564</li>
      </ul>
    </div> }}
  </div>
  <div class='copyright-section'>
    <p class='copyright'>© 2021 Yummy in my Tummy</p>
    <ul>
      <li><a href=''>Terms & Conditions</a></li>
      <li><a href=''>Privacy & Cookies Statement</a></li>
      <li><a href=''>Cookie Consent</a></li>
    </ul>
  </div>

</footer>