<footer>
  <h2>Contact Us</h2>
  <div class='contacts-us'>
    <div class='socials'>
      <ul>
        <li><img
            class='footer-icon'
            src='icons/instagram.svg'
            alt='instagram icon'
          /></li>
        <li><img
            class='footer-icon'
            src='icons/facebook.svg'
            alt='facebook icon'
          /></li>
        <li><img
            class='footer-icon'
            src='icons/twitter.svg'
            alt='twitter icon'
          /></li>
      </ul>
    </div>
    <div class='contacts'>
      <ul>
        <li><a href='mailto: contactus@yummy.com'>Email Us</a></li>
        <li>902-123-4564</li>
      </ul>
    </div>
  </div>
  <p class='copyright'>© 2021 Yummy in my Tummy</p>

</footer>