<h2>
  Search Discoveries
</h2>
<form id='restaurants-form' action='' method='post'>
  <input
    type='text'
    name='search'
    id='input-search'
    placeholder='Restaurant Name, Cousine, Food'
    autocomplete='off'
  />
  <input
    type='text'
    name='city'
    id='input-city'
    placeholder='City'
    autocomplete='off'
  />
  <button>Search Restaurant</button>
</form>