<form
  action='/authentication/register'
  method='POST'
  enctype='multipart/form-data'
  class='centering-container register-form'
>

  <label for='input-first-name'>First Name</label>
  <input
    type='text'
    id='input-first-name'
    name='firstName'
    placeholder='Your First Name'
    required
  />

  <label for='input-last-name'>Last Name</label>
  <input
    type='text'
    id='input-last-name'
    name='lastName'
    placeholder='Your Last Name'
    required
  />

  <label for='input-email'>Email</label>
  <input
    type='email'
    id='input-email'
    class='register'
    name='email'
    placeholder='Your Email'
    required
  />
  <p class='no-show email-status'></p>

  <label for='input-password'>Password</label>
  <input
    type='password'
    id='input-password'
    name='password'
    placeholder='A Strong Password'
    required
    minlength='10'
    class='register'
  />

  <div class='show-password-container'>
    <input type='checkbox' name='show-password' id='show-password' />
    <label for='show-password'>Show Password</label>
  </div>
  <ul class='no-show password-check'>
    <li>Must contain at least one upper and one lower case letter</li>
    <li>Must contain at least one "!@#$&*"</li>
    <li>Must containe at leat one number</li>
    <li>Cannot be shorter than 8 characters</li>
  </ul>

  <label for='input-picture'>Profile Picture</label>
  <input
    id='input-picture'
    type='file'
    name='profilePicture'
    accept='image/*'
  />

  <button disabled>Join the Yummy Community</button>
</form>