<h1 id='restaurants-title'>Yummy In Your Tummy!</h1>
<section id='search-form'>

  <form id='restaurants-form' action='' method='get'>
    <input
      type='text'
      name='search'
      id='input-search'
      placeholder='Restaurant Name, Cousine, Food'
    />
    <input type='text' name='city' id='input-city' placeholder='City' />
    <button>Search Restaurant</button>
  </form>

</section>

<section id='top-rated'>
  <div>
    <h2>Top Rated Discoveries</h2>

    {{#each restaurants}}
      <div class='restaurant-card'>
        <h3>{{name}}</h3>
        <img src='{{image}}' alt='{{name}}' />
        <small>{{rating}}</small>
        <p>
          <img src='' alt='' />
        </p>
      </div>3
    {{/each}}
  </div>
</section>

<section id='near-you'>
  <h2>Discoveries Near You</h2>

</section>

<script src='/scripts/nearYouDivs.js'></script>
<script src='/scripts/script.js'></script>