<h1>Rate >>NAME OF RESTAURANTS</h1>

<form action='' method='POST'>
  <div id='rater'></div>
  <label for='input-review-restaurant'>How was your experience in this
    restaurant?</label>
  <input
    type='text'
    name='review-restaurant'
    id='input-review-restaurant'
    placeholder='Type your review here...'
  />
</form>