{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<section id='title' class='centering-container'>
  <img class='main-page-img' src='images/yummy.png' alt='Logo of Yummy' />
</section>

<section id='description' class='centering-container'>
  <h2>Built by the community</h2>
  <p>Be the first to discover a restaurant and be part of a user currated
    variety of restaurant</p>
</section>

<section id='main-search-form'>

  <h2>Discover Other User's Finds</h2>
  <form action='/search-restaurant' method='post'>
    <div class='input-fields'>
      <input
        type='text'
        name=''
        id=''
        placeholder='Cousine, Fast Food, On Swaan'
      />
      <input type='text' name='location' id='location' placeholder='Lisbon' />
    </div>
    <button class='btn-pink'>Search</button>
  </form>
</section>

<section id='scn-main-membership-info'>
  <h2>Join our YUMMY community</h2>

  <p>We love yummy food, kind people and honesty. As a YUMMY member you can
    <ul>
      <li>add your own YUMMY discoveries</li>
      <li>review YUMMY discoveries</li>
      <li>interact with other YUMMY users</li>
    </ul></p>
  <form action='/authentication/register' id='btn-main-registration'>
    <button class='btn-pink'>Register</button>
  </form>
  <p id='p-coming-soon'><strong>COMING SOON: </strong>Win YUMMY restaurant
    discout codes by adding new discoveries and reviews.</p>

</section>