@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: "Montserrat", "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 2;
  color: #333333;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  body {
    max-width: 52em;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
}

nav a,
nav button {
  border: 0;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a {
  padding: 1em 0;
}

nav button {
  padding: 1em;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  padding: 0 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
.btn {
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label:not(.label-rating) {
  margin-bottom: 0.5em;
}

button {
  border-radius: 20px;
  font-style: inherit;
  border: 0;
  margin: 0.8em;
  padding: 0.5em 1em;
  width: fit-content;
}

.btn-pink {
  background-color: #f8514c;
  color: white;
}

.btn-lightgrey {
  background-color: #f1ecec;
  color: #2c2b2b;
}

.btn-transparent {
  background-color: transparent;
}

.centering-container {
  padding: 0 1em;
  margin: 0 auto;
}

.hide-element {
  display: none;
}

#scn-profile {
  /*@include display-flex-center;
  flex-direction: row;
  justify-content: flex-start;*/
  margin-bottom: 3em;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

#div-update-profile-picture {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.div-img-circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 600px) {
  .div-img-circle {
    width: 12.5rem;
    height: 12.5rem;
  }
}

.img-rounded-edges {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

#div-header {
  width: 100%;
  position: relative;
}

#div-banner {
  height: 10em;
  background: #f2615b;
  background: linear-gradient(135deg, rgba(242, 97, 91, 0.8) 0%, rgba(248, 150, 93, 0.8) 60%, rgba(255, 205, 95, 0.8) 100%);
  width: inherit;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#div-banner form {
  margin-right: 1em;
}

#div-profile-header {
  /*@include display-flex-center;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-top: -105px;
  z-index: 500;
}

#div-profile-header h1 {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: -0.8em;
}

#div-profile-header > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 450px) {
  #div-profile-header {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 1.5em;
  }
  #div-profile-header h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 600px) {
  #div-profile-header {
    margin-left: 3em;
  }
  #div-profile-header h1 {
    font-size: 3em;
  }
}

#div-user-info {
  width: 60%;
  margin: 2.5em auto 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#div-user-info > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

#div-user-info > div p {
  margin: 0;
  line-height: 2;
  text-align: center;
}

@media (min-width: 450px) {
  #div-user-info {
    display: flex;
    align-items: flex-start;
    margin-top: 5em;
    margin-left: 2em;
  }
  #div-user-info > div {
    display: flex;
    align-items: flex-start;
  }
  #div-user-info > div p {
    text-align: left;
  }
}

@media (min-width: 600px) {
  #div-user-info {
    margin-top: 4em;
    margin-left: 4em;
  }
}

h1,
h2,
h3 {
  font-family: 'Bebas Neue';
}

h2 {
  font-size: 2em;
}

#btn-add {
  margin-left: 0;
}

.img-restaurant-image {
  border-radius: 20px;
  max-width: 200px;
}

.reviews-details {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#scn-own-discoveries,
#scn-own-reviews {
  margin-top: 1.5em;
}

.img-reviews-card {
  filter: brightness(0.25);
}

.row {
  width: inherit;
}

.explore-header {
  margin: 20px 0 0px;
}

.div-overview-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.div-overview-profile img:not(.img-icon) {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 3em;
}

.div-overview-profile form {
  background-color: transparent;
}

.div-overview-profile > div {
  text-align: left;
}

.div-overview-profile > div > p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.div-user-section {
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  margin: 0.7em;
}

.div-user-section:hover {
  background-color: rgba(248, 81, 76, 0.2);
  transition: ease-in-out;
}

.div-user-section:active {
  border: 1px solid #f8514c;
}

@media (min-width: 768px) {
  .div-overview-profile {
    flex-direction: column;
  }
  .div-overview-profile img:not(.img-icon) {
    margin-right: 0;
  }
  .div-overview-profile h3 {
    text-align: center;
  }
  .div-overview-profile > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1em;
  }
}

@media (min-width: 992px) {
  .div-overview-profile > div > p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: small;
  }
}

.div-user-profile:not(:last-of-type) {
  border-bottom: 1px dotted #e6e6e6;
}

.div-user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-btn-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-btn-bar button:nth-of-type(1) {
  margin: 0;
}

.div-btn-bar button:nth-of-type(2) {
  margin: 0 1em;
}

#form-upload-user-picture label {
  font-size: larger;
  text-align: center;
}

h3 {
  text-align: center;
}

#div-update-profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#div-update-profile-picture > div:first-of-type {
  margin-bottom: 1em;
}

@media (min-width: 700px) {
  #div-update-profile-picture {
    flex-direction: row;
    justify-content: space-between;
  }
  h3 {
    text-align: left;
  }
  #form-upload-user-picture {
    width: 50%;
  }
  #form-upload-user-picture label {
    text-align: left;
  }
  .div-btn-bar {
    justify-content: flex-start;
  }
}

#restaurants-title {
  margin: 15px 0 5px;
  text-align: center;
}

#search-form,
#top-rated,
#find-discoveries-near,
#near-you {
  margin: 10% 0;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#search-form h2 {
  width: 100%;
}

#search-form .form-img {
  width: 45%;
  margin-bottom: 3%;
  height: 10rem;
}

#search-form #restaurants-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#search-form #restaurants-form input[type='text'] {
  border-radius: 50px;
  font-size: 1.05rem;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  transition: outline 0.2s ease-out;
}

#search-form #restaurants-form input[type='text']:focus {
  border-color: transparent;
  outline: #f8514c solid 2px !important;
}

#search-form #restaurants-form button {
  color: #fff;
  background-color: #f8514c;
  font-size: 1.05rem;
  margin: 10px 0 0;
  width: 50%;
}

#search-form h2,
#top-rated h2,
#near-you h2,
#find-discoveries-near h2 {
  font-size: 1.3rem;
  margin: 0;
}

#top-rated,
#near-you,
#scn-own-discoveries,
#scn-own-reviews {
  margin: 2rem 0;
}

#top-rated div:not(.dots),
#near-you div:not(.dots),
#scn-own-discoveries div:not(.dots),
#scn-own-reviews div:not(.dots) {
  display: flex;
  overflow-x: hidden;
}

#top-rated div:not(.dots) div:not(.dots),
#near-you div:not(.dots) div:not(.dots),
#scn-own-discoveries div:not(.dots) div:not(.dots),
#scn-own-reviews div:not(.dots) div:not(.dots) {
  z-index: -1;
}

#top-rated div:not(.dots) div:not(.dots),
#near-you div:not(.dots) div:not(.dots),
#scn-own-discoveries div:not(.dots) div:not(.dots),
#scn-own-reviews div:not(.dots) div:not(.dots) {
  border-radius: 20px;
  flex-shrink: 0;
  margin-right: 1em;
  position: relative;
  width: 100%;
}

#top-rated div:not(.dots) div:not(.dots) .restaurant-information,
#near-you div:not(.dots) div:not(.dots) .restaurant-information,
#scn-own-discoveries div:not(.dots) div:not(.dots) .restaurant-information,
#scn-own-reviews div:not(.dots) div:not(.dots) .restaurant-information {
  align-items: flex-start;
  background: #00000038;
  color: #fff;
  display: flex;
  left: 0;
  flex-direction: column;
  font-weight: 500;
  height: 100%;
  justify-content: end;
  padding: 0 0 15px 15px;
  position: absolute;
  top: 0;
}

#top-rated div:not(.dots) div:not(.dots) .restaurant-information h3,
#near-you div:not(.dots) div:not(.dots) .restaurant-information h3,
#scn-own-discoveries div:not(.dots) div:not(.dots) .restaurant-information h3,
#scn-own-reviews div:not(.dots) div:not(.dots) .restaurant-information h3 {
  font-weight: bold;
  margin: 0;
}

#top-rated div:not(.dots) div:not(.dots) .restaurant-information .rating,
#near-you div:not(.dots) div:not(.dots) .restaurant-information .rating,
#scn-own-discoveries div:not(.dots) div:not(.dots) .restaurant-information .rating,
#scn-own-reviews div:not(.dots) div:not(.dots) .restaurant-information .rating {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  right: 17px;
  top: 8px;
}

#top-rated div:not(.dots) div:not(.dots) .restaurant-information .rating-img,
#near-you div:not(.dots) div:not(.dots) .restaurant-information .rating-img,
#scn-own-discoveries div:not(.dots) div:not(.dots) .restaurant-information .rating-img,
#scn-own-reviews div:not(.dots) div:not(.dots) .restaurant-information .rating-img {
  width: 1rem;
  height: 15px;
}

#top-rated div:not(.dots) div:not(.dots) .restaurant-information .distance-to-user,
#near-you div:not(.dots) div:not(.dots) .restaurant-information .distance-to-user,
#scn-own-discoveries div:not(.dots) div:not(.dots) .restaurant-information .distance-to-user,
#scn-own-reviews div:not(.dots) div:not(.dots) .restaurant-information .distance-to-user {
  position: absolute;
  top: 8px;
  left: 17px;
  font-size: 1rem;
  font-weight: 500;
}

#top-rated div:not(.dots) div:not(.dots) .restaurant-information .restaurant-details,
#near-you div:not(.dots) div:not(.dots) .restaurant-information .restaurant-details,
#scn-own-discoveries div:not(.dots) div:not(.dots) .restaurant-information .restaurant-details,
#scn-own-reviews div:not(.dots) div:not(.dots) .restaurant-information .restaurant-details {
  align-items: center;
  background-color: transparent;
  display: flex;
}

#top-rated div:not(.dots) div:not(.dots) .restaurant-information .restaurant-details *,
#near-you div:not(.dots) div:not(.dots) .restaurant-information .restaurant-details *,
#scn-own-discoveries div:not(.dots) div:not(.dots) .restaurant-information .restaurant-details *,
#scn-own-reviews div:not(.dots) div:not(.dots) .restaurant-information .restaurant-details * {
  font-size: 1.1rem;
  font-weight: bold;
}

#top-rated div:not(.dots) div:not(.dots) img,
#near-you div:not(.dots) div:not(.dots) img,
#scn-own-discoveries div:not(.dots) div:not(.dots) img,
#scn-own-reviews div:not(.dots) div:not(.dots) img {
  height: 15rem;
  border-radius: 20px;
  z-index: -2;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

.div-restaurant-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 1em;
}

.div-restaurant-review .div-restaurant-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 1em;
}

.btn-no-mg-left {
  margin-left: 0;
}

.btn-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem;
}

.glider-dots {
  margin: 1rem 0 auto;
}

.glider-dots .glider-dot.active {
  background: #f8514c;
}

#img-restaurant-detail {
  max-width: 500px;
  height: 350px;
  border-radius: 20px;
  margin-right: 5em;
  margin-bottom: 2em;
}

#scn-restaurant-details-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: smaller;
  line-height: 0.8;
  margin-bottom: 2em;
}

#scn-restaurant-details-intro #find-discoveries-near {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
  margin-bottom: 3em;
}

#scn-restaurant-details-intro #find-discoveries-near #find-discoveries-near {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
}

#scn-restaurant-details-intro #find-discoveries-near #find-discoveries-near p {
  background-color: #d3d3d347;
  padding: 2% 4%;
  font-weight: 402;
  color: #f8514c;
}

#scn-restaurant-details-intro #find-discoveries-near #find-discoveries-near button {
  margin: 0;
  width: 100%;
}

#near-you {
  display: none;
}

.show {
  display: block;
}

.location-access-denied {
  display: none;
#scn-restaurant-details-intro #find-discoveries-near .hide {
  display: none !important;
}

#scn-restaurant-details-intro #find-discoveries-near .show {
  display: block;
}

@media (min-width: 600px) {
  #scn-restaurant-details-intro #scn-restaurant-details-intro {
    flex-direction: row;
    margin-bottom: 3em;
    font-size: inherit;
    line-height: 1;
  }
  #scn-restaurant-details-intro #scn-restaurant-details-intro button {
    margin: 0;
    width: 100%;
  }
  #scn-restaurant-details-intro .hide {
    display: none !important;
  }
  #scn-restaurant-details-intro .show {
    display: block;
  }
}

.navbar {
  padding: 0 5%;
  margin: 0;
  box-shadow: #ff795863 0px 1px 3px 0px;
}

.navbar .container-fluid {
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav {
  align-items: center;
  padding-bottom: 20px;
}

.navbar .navbar-nav .nav-item a {
  font-size: 1.3rem;
}

.navbar .navbar-nav .nav-item:nth-child(4) {
  display: flex;
  justify-content: center;
}

.navbar .navbar-nav .nav-item:nth-child(4) form {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar .navbar-nav .nav-item:nth-child(4) form button {
  background-color: inherit;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.55);
}

.navbar .navbar-nav .nav-item {
  text-align: center;
  width: 100%;
}

.navbar .navbar-nav .nav-item form {
  font-size: 1rem;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
}

.navbar .navbar-nav .nav-item form button {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.navbar .navbar-brand {
  font-family: 'Dancing Script', 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
}

.navbar .navbar-toggler {
  border: none !important;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 0;
}

.navbar .navbar-toggler .nav-profile-img {
  border: 3px solid #ff5757 !important;
  border-radius: 100%;
  height: inherit;
  width: inherit;
}

.navbar .navbar-toggler-icon {
  font-size: 15px;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:active,
.navbar .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.main-page-img,
.form-img {
  width: 16rem;
  height: 15rem;
  border-radius: 100%;
}

#title,
#description,
#main-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem 0;
}

#title h2,
#description h2,
#main-search-form h2 {
  margin: 0;
  font-size: 1.7rem;
}

#description p {
  font-size: 1rem;
  letter-spacing: 1px;
}

#main-search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8514c;
  color: #fff;
  padding: 25px 0;
  margin-bottom: 0;
}

#main-search-form form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-search-form form button {
  background: black;
  color: #fff;
  font-weight: 500;
  width: 30%;
  height: 2rem;
  padding: 0;
  transition: width 0.2s ease-in;
}

#main-search-form form button:hover {
  width: 60%;
}

#main-search-form .input-fields {
  display: flex;
}

#main-search-form .input-fields input {
  background-color: #fff;
  border-radius: 50px;
  border-color: #fff;
  color: #000;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 50%;
  transition: all 0.2s ease-in-out;
}

#main-search-form .input-fields input:last-child:focus {
  border-left-width: 2px;
}

#main-search-form .input-fields input:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-color: #ff8f5845;
  width: 70%;
}

#main-search-form .input-fields input:last-child {
  border-bottom-left-radius: 0;
  border-left-width: 0px;
  border-top-left-radius: 0;
}

#scn-main-membership-info {
  padding-top: 1em;
}

#p-coming-soon {
  text-align: center;
  -webkit-animation: blinking 1s infinite;
  border: 4px solid;
  border-radius: 5px;
  margin-top: 2em;
}

@-webkit-keyframes blinking {
  0% {
    border-color: white;
  }
  50% {
    border-color: #f8514c;
  }
  100% {
    border-color: white;
  }
}

#btn-main-registration {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-create-new-review {
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  padding: 1em;
  background-color: rgba(248, 82, 76, 0.2);
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

#form-create-new-review textarea {
  width: 100%;
}

.span-rating-label {
  display: block;
}

@media (min-width: 600px) {
  .span-rating-label {
    display: inline;
  }
}

#form-create-new-review textarea {
  background-color: white;
}

.div-restaurant-rating,
.div-restaurant-pricing {
  float: left;
  height: min-content;
  padding: 0 10px;
}

.div-restaurant-rating:not(:checked) > div > input {
  position: absolute;
  top: -9999px;
}

.div-restaurant-rating:not(:checked) > div > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.div-restaurant-rating:not(:checked) > div > label:before {
  content: '★ ';
}

.div-restaurant-rating > div > input:checked ~ label {
  color: #f8514c;
}

.div-restaurant-rating:not(:checked) > div > label:hover,
.div-restaurant-rating:not(:checked) > div > label:hover ~ label {
  color: #f5716d;
}

.div-restaurant-rating > div > input:checked + label:hover,
.div-restaurant-rating > div > input:checked + label:hover ~ label,
.div-restaurant-rating > div > input:checked ~ label:hover,
.div-restaurant-rating > div > input:checked ~ label:hover ~ label,
.div-restaurant-rating > div > label:hover ~ input:checked ~ label {
  color: #cc504c;
}

.div-restaurant-pricing:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.div-restaurant-pricing:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.div-restaurant-pricing:not(:checked) > label:before {
  content: '$';
}

.div-restaurant-pricing > input:checked ~ label {
  color: #f8514c;
}

.div-restaurant-pricing:not(:checked) > label:hover,
.div-restaurant-pricing:not(:checked) > label:hover ~ label {
  color: #f5716d;
}

.div-restaurant-pricing > input:checked + label:hover,
.div-restaurant-pricing > input:checked + label:hover ~ label,
.div-restaurant-pricing > input:checked ~ label:hover,
.div-restaurant-pricing > input:checked ~ label:hover ~ label,
.div-restaurant-pricing > label:hover ~ input:checked ~ label {
  color: #cc504c;
}

.div-restaurant-pricing > label:last-of-type,
.div-restaurant-rating > label:last-of-type {
  margin-left: 2em;
}

.p-review-ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 0.8;
}

footer h2 {
  margin: 15px 0 0 0px !important;
  font-size: 1.7rem;
  text-align: center;
}

footer .contacts-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 5% 3%;
  margin: 0 15px;
}

footer .contacts-us .socials {
  width: 40%;
}

footer .contacts-us .socials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

footer .contacts-us .socials ul li img {
  width: 2.2rem;
  border-radius: 100%;
}

footer .contacts-us .contacts {
  width: 60%;
  text-align: end;
}

footer .contacts-us .contacts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

footer .copyright {
  background-color: #000000;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  box-shadow: #5b5b5bd6 0 1px 18px 0px;
  padding: 2% 0;
}

/*# sourceMappingURL=style.css.map */