footer {
  h2 {
    margin: 15px 0 0 0px !important;
    font-size: 1.7rem;
    text-align: center;
  }

  .contacts-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5% 3%;
    margin: 0 15px;

    .socials {
      width: 40%;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;

        li img {
          width: 2.2rem;
          border-radius: 100%;
        }
      }
    }

    .contacts {
      width: 60%;
      text-align: end;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-weight: 500;
      }
    }
  }

  .copyright {
    background-color: #000000;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    box-shadow: #5b5b5bd6 0 1px 18px 0px;
    padding: 2% 0;
  }
}
