.main-page-img,
.form-img {
  width: 16rem;
  height: 15rem;
  border-radius: 100%;
}

#title,
#description,
#main-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem 0;
  h2 {
    margin: 0;
    font-size: 1.7rem;
  }
}

#description {
  p {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

#main-search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f8514c;
  color: #fff;
  padding: 25px 0;
  margin-bottom: 0;

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      background: black;
      color: #fff;
      font-weight: 500;
      width: 30%;
      height: 2rem;
      padding: 0;
      transition: width 0.2s ease-in;
    }

    button:hover {
      width: 60%;
    }
  }

  .input-fields {
    display: flex;

    input {
      background-color: #fff;
      border-radius: 50px;
      border-color: #fff;
      color: #000;
      font-weight: 500;
      font-size: 0.8rem;
      margin: 0;
      padding: 5px;
      text-align: center;
      width: 50%;
      transition: all 0.2s ease-in-out;
    }

    input:last-child:focus {
      border-left-width: 2px;
    }

    input:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right-color: #ff8f5845;
      width: 70%;
    }

    input:last-child {
      border-bottom-left-radius: 0;
      border-left-width: 0px;
      border-top-left-radius: 0;
    }
  }
}

#scn-main-membership-info {
  padding-top: 1em;
}

#p-coming-soon {
  text-align: center;
  -webkit-animation: blinking 1s infinite;
  border: 4px solid;
  border-radius: 5px;
  margin-top: 2em;
}

@-webkit-keyframes blinking {
  0% {
    border-color: white;
  }
  50% {
    border-color: #f8514c;
  }
  100% {
    border-color: white;
  }
}

#btn-main-registration {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scn-main-membership-info {
  @include display-flex-center;
  flex-direction: column;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 5%;

  h2 {
    margin: 0;
    font-size: 1.7rem;
    text-align: center;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  form {
    button {
      width: 30%;
      padding: 0;
      transition: 0.2s all ease-in-out;
    }

    button:hover {
      width: 60%;
    }
  }
}
