nav {
  .navbar-nav {
    align-items: center;

    .nav-item a {
      font-size: 1.3rem;
    }

    // a:first-child,
    // button:first-child {
    //   margin: 0;
    // }

    .nav-item {
      text-align: center;
      width: 100%;

      form {
        font-size: 1rem;
        padding: 5px;
        width: 50%;
        margin: 0 auto;

        button {
          margin: 0 auto;
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}
