#restaurants-title {
  margin: 15px 0 5px;
  text-align: center;
}

#restaurants-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input[type='text'] {
    border-radius: 50px;
    font-size: 1.05rem;
    height: 40px;
    margin-bottom: 10px;
    width: 100%;
    transition: outline 0.2s ease-out;
  }

  input[type='text']:focus {
    border-color: transparent;
    outline: #f8514c solid 2px !important;
  }

  button {
    color: #fff;
    background-color: #f8514c;
    font-size: 1.05rem;
    margin: 10px 0 0;
    width: 45%;
  }
}

#top-rated,
#near-you {
  h2 {
    font-size: 1.3rem;
    margin: 0;
  }
}

#top-rated,
#near-you,
#scn-own-discoveries,
#scn-own-reviews {
  margin: 2rem 0;

  div:not(.dots) {
    display: flex;
    overflow-x: hidden;

    div:not(.dots) {
      z-index: -1;
    }

    div:not(.dots) {
      border-radius: 20px;
      flex-shrink: 0;
      margin-right: 1em;
      position: relative;
      width: 100%;

      .restaurant-information {
        align-items: flex-start;
        background: #00000038;
        color: #fff;
        display: flex;
        left: 0;
        flex-direction: column;
        font-weight: 500;
        height: 100%;
        justify-content: end;
        padding: 0 0 15px 15px;
        position: absolute;
        top: 0;

        h3 {
          font-weight: bold;
          margin: 0;
        }

        .rating {
          align-items: center;
          display: flex;
          font-size: 1rem;
          font-weight: 500;
          position: absolute;
          right: 17px;
          top: 8px;
        }

        .rating-img {
          width: 1rem;
          height: 15px;
        }

        .distance-to-user {
          position: absolute;
          top: 8px;
          left: 17px;
          font-size: 1rem;
          font-weight: 500;
        }

        .restaurant-details {
          align-items: center;
          background-color: transparent;
          display: flex;

          * {
            font-size: 1.1rem;
            font-weight: bold;
          }
        }
      }

      img {
        height: 15rem;
        border-radius: 20px;
        z-index: -2;
      }
    }
  }
}

.splide__slide img {
  width: 100%;
  height: auto;
}
.div-restaurant-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid $grey;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 1em;
  .div-restaurant-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid $grey;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
  }
}

.btn-no-mg-left {
  margin-left: 0;
}

.btn-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glider-dots {
  margin: 1rem 0 auto;

  .glider-dot.active {
    background: #f8514c;
  }
}
