#restaurants-title {
  margin: 15px 0 5px;
  text-align: center;
}

#search-form,
#top-rated,
#find-discoveries-near,
#near-you {
  margin: 10% 0;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    width: 100%;
  }

  .form-img {
    width: 45%;
    margin-bottom: 3%;
    height: 10rem;
  }

  #restaurants-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    input[type='text'] {
      border-radius: 50px;
      font-size: 1.05rem;
      height: 40px;
      margin-bottom: 10px;
      width: 100%;
      transition: outline 0.2s ease-out;
    }

    input[type='text']:focus {
      border-color: transparent;
      outline: #f8514c solid 2px !important;
    }

    button {
      color: #fff;
      background-color: #f8514c;
      font-size: 1.05rem;
      margin: 10px 0 0;
      width: 50%;
    }
  }
}

#search-form,
#top-rated,
#near-you,
#find-discoveries-near {
  h2 {
    font-size: 1.3rem;
    margin: 0;
  }
}

#top-rated,
#near-you,
#scn-own-discoveries,
#scn-own-reviews {
  margin: 2rem 0;

  div:not(.dots) {
    display: flex;
    overflow-x: hidden;

    div:not(.dots) {
      z-index: -1;
    }

    div:not(.dots) {
      border-radius: 20px;
      flex-shrink: 0;
      margin-right: 1em;
      position: relative;
      width: 100%;

      .restaurant-information {
        align-items: flex-start;
        background: #00000038;
        color: #fff;
        display: flex;
        left: 0;
        flex-direction: column;
        font-weight: 500;
        height: 100%;
        justify-content: end;
        padding: 0 0 15px 15px;
        position: absolute;
        top: 0;

        h3 {
          font-weight: bold;
          margin: 0;
        }

        .rating {
          align-items: center;
          display: flex;
          font-size: 1rem;
          font-weight: 500;
          position: absolute;
          right: 17px;
          top: 8px;
        }

        .rating-img {
          width: 1rem;
          height: 15px;
        }

        .distance-to-user {
          position: absolute;
          top: 8px;
          left: 17px;
          font-size: 1rem;
          font-weight: 500;
        }

        .restaurant-details {
          align-items: center;
          background-color: transparent;
          display: flex;

          * {
            font-size: 1.1rem;
            font-weight: bold;
          }
        }
      }

      img {
        height: 15rem;
        border-radius: 20px;
        z-index: -2;
      }
    }
  }
}

.splide__slide img {
  width: 100%;
  height: auto;
}
.div-restaurant-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid $grey;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 1em;
  .div-restaurant-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid $grey;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
  }
}

.btn-no-mg-left {
  margin-left: 0;
}

.btn-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem;
}

.glider-dots {
  margin: 1rem 0 auto;

  .glider-dot.active {
    background: #f8514c;
  }
}

#img-restaurant-detail {
  max-width: 500px;
  height: 350px;
  border-radius: 20px;
  margin-right: 5em;
  margin-bottom: 2em;
}

#scn-restaurant-details-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: smaller;
  line-height: 0.8;
  margin-bottom: 2em;

  #find-discoveries-near {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;

    p {
      background-color: #d3d3d347;
      padding: 2% 4%;
      font-weight: 402;
      color: #f8514c;
    }

    button {
      margin: 0;
      width: 100%;
    }
  }

  .hide {
    display: none !important;
  }

  .show {
    display: block;
  }
}

@media (min-width: 600px) {
  #scn-restaurant-details-intro {
    flex-direction: row;
    margin-bottom: 3em;
    font-size: inherit;
    line-height: 1;
  }
}
