$medium-space: 3em;
@mixin display-flex-center {
  display: flex;
  align-items: center;
}

@mixin display-flex-start {
  display: flex;
  align-items: flex-start;
}

#scn-profile {
  /*@include display-flex-center;
  flex-direction: row;
  justify-content: flex-start;*/
  margin-bottom: $medium-space;
  width: 100%;
  border-bottom: 1px solid $grey;
}

#div-update-profile-picture {
  @include display-flex-center;
  flex-direction: row;
  justify-content: space-between;
}

.div-img-circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 600px) {
  .div-img-circle {
    width: 12.5rem;
    height: 12.5rem;
  }
}

.img-rounded-edges {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

#div-header {
  width: 100%;
  position: relative;
}

#div-banner {
  height: 10em;
  background: rgb(242, 97, 91);
  background: linear-gradient(
    135deg,
    rgba(242, 97, 91, 0.8) 0%,
    rgba(248, 150, 93, 0.8) 60%,
    rgba(255, 205, 95, 0.8) 100%
  );
  width: inherit;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  form {
    margin-right: 1em;
  }
}

#div-profile-header {
  /*@include display-flex-center;*/
  @include display-flex-center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-top: -105px;
  z-index: 500;

  h1 {
    font-size: 2em;
    margin-bottom: 0;
    margin-top: -0.8em;
  }

  > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (min-width: 450px) {
  #div-profile-header {
    @include display-flex-start;
    flex-direction: row;
    margin-left: 1.5em;

    h1 {
      font-size: 1.5em;
    }
  }
}

@media (min-width: 600px) {
  #div-profile-header {
    margin-left: 3em;
    h1 {
      font-size: 3em;
    }
  }
}

#div-user-info {
  width: 60%;
  margin: 2.5em auto 1.5em;
  @include display-flex-center;
  flex-direction: column;
  justify-content: space-between;

  > div {
    @include display-flex-center;
    flex-direction: column;
    justify-content: flex-end;

    p {
      margin: 0;
      line-height: 2;
      text-align: center;
    }
  }
}

@media (min-width: 450px) {
  #div-user-info {
    @include display-flex-start;
    margin-top: 5em;
    margin-left: 2em;

    > div {
      @include display-flex-start;

      p {
        text-align: left;
      }
    }
  }
}

@media (min-width: 600px) {
  #div-user-info {
    margin-top: 4em;
    margin-left: 4em;
  }
}

h1,
h2 {
  font-family: 'Bebas Neue';
}

h2 {
  font-size: 2em;
}

#btn-add {
  margin-left: 0;
}
